

$red: rgb(0,0,0);

$white: #ffffff;

$black:	#000000;

$lightred: rgb(195,6,12);

$pink: rgb(244,84,89);

$grey: rgb(86,99,108);

$grey2:rgba(0,0,0,127);












$pagecontext-width: 70%;

$header-height:140px;

$footer-height:100px;

$home-monster-line:350px;

$choosemons-height:250px;

$smbuttondivheight:150px;
