
@import "variables";

/*###################basic font and style########################*/

h1 {
	font-size: calculateRem(120px);
	text-align: left;
	margin-bottom: calculateRem(40px);
	line-height: calculateRem(140px);
	font-family: Verdana;
}


h2 {
	font-size: calculateRem(36px);
	margin-bottom: calculateRem(15px);
	font-family: "robot-boldIt";
	line-height: calculateRem(46px);
}

h3 {
	text-align: center;
	
	font-weight: normal;
	font-size: calculateRem(28px);
	line-height: calculateRem(32px);
	margin-bottom: calculateRem(20px);
	font-family: Verdana;
}

h4 {
	text-align: left;
	font-size: calculateRem(24px);
	line-height: calculateRem(28px);
	margin-bottom: calculateRem(15px);
	font-family: "robot-thin";
}

a {
	text-decoration: none;
	color: $white;

	&:hover {
		color: $dark;
	}
}

p {
	line-height: calculateRem(30px);
	font-size: calculateRem(20px);
	font-family: Verdana;
}

/*###################basic font and style########################*/

.headercontainer{
	position:fixed;
	top:0px;
	width:100%;
	height: $header-height;
	background-color: grey;   /*header color */
}

.header{
	margin: 0 auto;
	width: $pagecontext-width;
	height:100%;
}


.pagecontext{
	margin: 0 auto;
	width: $pagecontext-width;
	height:100%;
	text-align: center;
}

.pagecontextcontainer{
	position: fixed;
	top:$header-height;
	width:100%;
}

.loginpic{
	margin: 50px;
	width:100px;
}