
@import "variables";

/*###################basic font and style########################*/

h1 {
	font-family: Impact;
	font-weight: normal;
}


h2 {
	font-family: "robot-boldIt";
}

h3 {
	font-weight: normal;
	font-family: Verdana;
	font-size: 26px;
}

h4 {
	font-family: "robot-thin";
}

a {
	text-decoration: none;
	color: $black;
	font-family: Verdana;
	font-size: 18px;
	&:hover {
		color: $lightred;
	}
}

p {
	font-family: Verdana;
	font-size: 18px;
}

/*###################basic font and style########################*/





/*####################general layout#######################*/
.headercontainer{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height: $header-height;
	background-color: $red;   /*header color */
}

.header{
	margin: 0 auto;
	width: $pagecontext-width;
	height:100%;
	background-color:$red;
	z-index: 1000;
}


.pagecontext{
	margin: 0 auto;
	width: $pagecontext-width;
	height:100%;
	text-align: center;
	vertical-align: middle;
	background-color: $white;
	padding: 40px;
}

.pagecontextcontainer{
	position: fixed;
	top:$header-height;
	width:100%;
	height: 100%;
}

.footer{
	margin: 0 auto;
	background-color:rgb(196,84,89);
}

.loginpic{
	margin: 20px;
	margin-left:50px;
	margin-right:50px;
	width:100px;
}

#logocontainer{
	margin-top: 10px;
}

#logo{
	margin: 20px;
	float: left;
}

#logotext{
	float: left;
	text-align: center;
}

#userstatus{
	float: right;
	margin-top: 30px;
	vertical-align:middle;
}


.footercontainer{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height: $footer-height;
	background-color: $red;   /*header color */
	z-index: 1000;
}

.footer{
	margin: 0 auto;
	width: $pagecontext-width;
	height:100%;
	text-align: right;
}

#teamlogo{
	margin: 20px;
}

/*####################general layout#######################*/





/*###################main page house list########################*/
#housesdiv{
	overflow:hidden;
	width:100%;
	color: $black;
	vertical-align: middle;
}


#choosemonsdiv{
	height:$choosemons-height;
	overflow:hidden;
}

.left{
	position: relative;
	top:0;
	height: 3*$choosemons-height;
}

.none{
	height: 3*$choosemons-height;
	position: relative;
	top:-($choosemons-height);
}

.right{
	height: 3*$choosemons-height;
	position: relative;
	top:-(2*($choosemons-height));
}


/*###################main page house list########################*/






/*####################a monster's home#######################*/

#adoptme{
	background-color: $red;
	border: 1px solid;
	border-color: $black;
	border-radius: 10px;
	padding: 5px;
	width: 120px;
	text-align: center;
	position: relative;
	top:-40px;
	left: 180px;
}

#monsterhome{
	bottom: $footer-height;
	position: absolute;
	margin-left: 50px;
	text-align: center;
	margin-bottom: 60px;
}

#lefthomediv{
	width: $home-monster-line;
	padding-bottom: $footer-height;
	bottom: $footer-height;
	height: 100%;
	float: left;
	position: absolute;
}


#bigmonster{
	position: fixed;
	left:50%;
	bottom:$footer-height;
	width:200px;
	height: 250px;
	margin:0 0 20px ($home-monster-line)/2-100;
}

.smallmonsterposition{
	position: fixed;
	left:50%;
	bottom:$footer-height+$smbuttondivheight;
	width:150px;
	height: 150px;
	margin:0 0 20px ($home-monster-line)/2-75;
}

#newbigmonsterform{
	position: relative;
	top:-600px;
	left: -250px;
}

.bminputbox{
	width: 300px;
	padding: 10px;
	border-radius:20px; 
	font-size: 20px;
	outline:none;
}

.black{
	position: fixed;
	top:0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: $black;
	opacity: 0.8;
	z-index: 2000;
}

#cardcontainer{
	position: fixed;
	/*background-color: $red;*/
	height:500px;
	top:20%;
	left:35%;
	z-index: 3000;
	/*border: 10px solid;*/
	/*border-color: $black;*/
}



.smbuttondiv{
	position: relative;
	height: $smbuttondivheight;
	top:$smbuttondivheight;
	opacity: 0;
	z-index: 0;
	transition: opacity 0.5s,top 0.5s;
	cursor: default;


	&:hover{
		position: relative;
		top:$smbuttondivheight+(-35);
		opacity: 1;
	}
}

.addnew{
	margin-top: $smbuttondivheight;
}

.bmbuttondiv{
	position: relative;
	height: 250px;
	width:130px;
	opacity: 0;
	z-index: 0;
	transition: left 0.5s,width 0.5s,opacity 0.5s;
	cursor: default;
	top:-250px;
	left: 20px;

	&:hover{
		position: relative;
		width: 210px;
		left:-17px;
		opacity: 1;
	}
}

.bgbuttons{
	position: relative;
	top:170px;
}
/*####################a monster's home#######################*/
