@charset "UTF-8";
/* CSS Document */



/*历史悬停设置*/
.textbox:hover {
opacity:1;
}
.text {
	position: relative;
	margin-left: auto;
	margin-top: 48px;
	font-family: "Myriad Pro";
	font-size: 14;
	color: #717071;
	width: 115px;
	height: 100px;
}
.textbox {
	width: 130px;
	height: 130px;
	position: absolute;
	top: 3px;
	left: 13px;
	opacity: 0;
	border-radius: 0px;
	background-color: rgba(255,255,255,0.75);
	-webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
	box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}


p{
position:absolute;margin-left:auto;margin-top:auto;
font-family:"Myriad Pro";font-size:14;color:#717071;}

.data{
	position: relative;
	width: 800px;
}
.data_piechart{
	position: relative;
	margin-top: -3px;
	margin-right: auto;
	margin-left: 730px;
	margin-bottom: auto;
	width: 500px;
height:600px；float:left;}
.data_redmon{
	position: relative;
	margin-top: 30px;
	margin-right: auto;
	margin-left: 870px;
	margin-bottom: 0;
	width: 215px;
height:300px；float:left;}
.data_greenmon{
	position: relative;
	margin-right: auto;
	margin-left: 1188px;
	width: 215px;
height:300px；float:left;
	margin-top: -268px;
	margin-bottom: auto;
}
.data_yellowpie{
	position: relative;
	margin-right: auto;
	margin-left: 870px;
	margin-bottom: auto;
	width: 215px;
height:300px；float:left;	margin-top: 132px;
}
.data_bluegiveup{
	position: absolute;
	margin-right: auto;
	margin-bottom: auto;
	width: 215px;
height:300px；float:left;							margin-top: -451px;
	margin-left: 577px;
}


/*
.data_redmon span,.data_yellowpie span,.data_greenmon span,.data_bluegiveup span{display:none;}
.data_redmon,.data_greenmon,.data_yellowpie,.data_bluegiveup{cursor:pointer}
.data_redmon,.data_greenmon,.data_yellowpie,.data_bluegiveup: hover{}
.data_redmon:hover span{display:block;position:relative; bottom:0; left:0;color:#717071;font-family:Myriad Pro;font-size: 18px;width:554px; height:36px; line-height:36px;}
.data_greenmon:hover span{display:block;position:relative; bottom:0; left:0;color:#717071;font-family:Myriad Pro;font-size: 18px;width:554px; height:36px; line-height:36px;}
.data_yellowpie:hover span{display:block;position:relative; bottom:0; left:0;color:#717071;font-family:Myriad Pro;font-size: 18px;width:554px; height:36px; line-height:36px;}
.data_bluegiveup:hover span{display:block;position:relative; bottom:0; left:0;color:#717071;font-family:Myriad Pro;font-size: 18px;width:554px; height:36px; line-height:36px;}


/*徽章列表*/

ul{list-style:none;}
li{list-style:none;width:250px;height:80px}
.badge{
	position: relative;
	width: 50px;
	height: 50px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	float: left
}
.badge_name{
	position: relative;
	width: 80px;
	height: auto;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}

.badge_explain{
	position: relative;
	width: 250px;
	height: 50px;
	margin-right: 0px;
	margin-left: 71px;
	margin-bottom: 0;
	float: left;
	margin-top: -41px;
}


/*滑出菜单栏============怎么做滑出效果==========================*/


.nav{
	margin-top: -665px;
	margin-right: auto;
	margin-left: 0px;
	margin-bottom: auto;
	width: 500px;
}
.nav_m ul li{
	text-align: center;
	position: relative;
	margin-top: 0px;
	margin-right: auto;
	margin-left: 0px;
	margin-bottom: auto;
	padding: 0;
	list-sytle: none;
}
.nav_m ul li ul {display:none;}
.nav_m ul li:hover ul {display:block; width:110px; height:47px; position:absolute; left:60px;bottom: -40px;}
.nav_m ul li:hover ul li{} 
