@charset "UTF-8";
.smallcard {
	background-image: url(img/Newadd/smallcard.png);
	position: relative;
}
.moneatpie {
	top: -477px;
	left: 78px;
	float: left;
	position: relative;
}
.eatingmon {
	position: relative;
	top: 25px;
	left: 30px;
	width: 115px;
}
.p {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	width: auto;
	color: #FFFFFF;
}
.Age {
	width: 147px;
	top: 30px;
	left: 6px;
	position: relative;
	color: #FFFFFF;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	height: 20px;
}
.pie-bian2 {
	position: relative;
	top: -5px;
	left: -5px;
}
.name {
	width: 141px;
	height: 21px;
	position: relative;
	top: -411px;
	left: 48px;
	color: #FFFFFF;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.info {
	float: left;
	color: #FFFFFF;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	top: -262px;
	position: relative;
	left: -73px;
}
.cardbutton {
	width: 192px;
	position: relative;
	top: 84px;
	left: 77px;
}
.cardbutton a p {
}
.cardbutton-text {
	top: -45px;
	position: relative;
	left: 18px;
	color: #FFFFFF;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
.pie-bian1 {
	top: 28px;
	left: -5px;
	position: relative;
}
.pieeaten {
	position: relative;
	top: -60px;
	left: 157px;
}
.input:focus{
	background-color: E7E4E4; 
	border:1px solid grey;
	border-radius:9px; 
}
.name {
}
.nameinput {
	position: relative;
	top: 2px;
	left: 9px;
}
