@charset "UTF-8";
/* CSS Document */
/* line 8, ../sass/visualisation.scss */
#visulisationdiv {
  margin-top: 130px;
  margin-left: 20px;
  /*历史悬停设置*/
  /*
  .data_redmon span,.data_yellowpie span,.data_greenmon span,.data_bluegiveup span{display:none;}
  .data_redmon,.data_greenmon,.data_yellowpie,.data_bluegiveup{cursor:pointer}
  .data_redmon,.data_greenmon,.data_yellowpie,.data_bluegiveup: hover{}
  .data_redmon:hover span{display:block;position:relative; bottom:0; left:0;color:#717071;font-family:Myriad Pro;font-size: 18px;width:554px; height:36px; line-height:36px;}
  .data_greenmon:hover span{display:block;position:relative; bottom:0; left:0;color:#717071;font-family:Myriad Pro;font-size: 18px;width:554px; height:36px; line-height:36px;}
  .data_yellowpie:hover span{display:block;position:relative; bottom:0; left:0;color:#717071;font-family:Myriad Pro;font-size: 18px;width:554px; height:36px; line-height:36px;}
  .data_bluegiveup:hover span{display:block;position:relative; bottom:0; left:0;color:#717071;font-family:Myriad Pro;font-size: 18px;width:554px; height:36px; line-height:36px;}
  
  
  /*徽章列表*/
  /*滑出菜单栏============怎么做滑出效果==========================*/
}
/* line 15, ../sass/visualisation.scss */
#visulisationdiv #visualsvgdiv {
  margin-left: 110px;
  margin-top: 110px;
}
/* line 22, ../sass/visualisation.scss */
#visulisationdiv .imgsetting {
  width: 110px;
  height: 110px;
}
/* line 27, ../sass/visualisation.scss */
#visulisationdiv .textbox:hover {
  opacity: 1;
}
/* line 30, ../sass/visualisation.scss */
#visulisationdiv .text {
  position: relative;
  margin-left: -2px;
  margin-top: 20px;
  font-family: "Arial";
  font-size: 7px;
  color: #717071;
  width: 115px;
}
/* line 39, ../sass/visualisation.scss */
#visulisationdiv .textbox {
  width: 110px;
  height: 110px;
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0px;
  opacity: 0;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.75);
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
/* line 56, ../sass/visualisation.scss */
#visulisationdiv .arrow {
  height: 20px;
  cursor: pointer;
}
/* line 61, ../sass/visualisation.scss */
#visulisationdiv .data {
  position: relative;
  width: 800px;
}
/* line 66, ../sass/visualisation.scss */
#visulisationdiv .data_redmon {
  position: relative;
  float: left;
  left: 0px;
  top: -150px;
}
/* line 73, ../sass/visualisation.scss */
#visulisationdiv .data_greenmon {
  position: relative;
  float: left;
  left: 22px;
  top: -410px;
}
/* line 79, ../sass/visualisation.scss */
#visulisationdiv .data_yellowpie {
  position: relative;
  float: left;
  left: 176px;
  top: -410px;
}
/* line 85, ../sass/visualisation.scss */
#visulisationdiv .data_bluegiveup {
  position: relative;
  float: left;
  left: 165px;
  top: -150px;
}
/* line 92, ../sass/visualisation.scss */
#visulisationdiv #controlplace {
  position: relative;
  width: 480px;
  top: -80px;
  text-align: center;
  left: 110px;
  margin-left: -50px;
}
/* line 113, ../sass/visualisation.scss */
#visulisationdiv ul {
  list-style: none;
}
/* line 114, ../sass/visualisation.scss */
#visulisationdiv li {
  list-style: none;
  width: 250px;
  height: 80px;
}
/* line 115, ../sass/visualisation.scss */
#visulisationdiv .badge {
  position: relative;
  width: 50px;
  height: 50px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  float: left;
}
/* line 125, ../sass/visualisation.scss */
#visulisationdiv .badge_name {
  position: relative;
  width: 80px;
  height: auto;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}
/* line 134, ../sass/visualisation.scss */
#visulisationdiv .badge_explain {
  position: relative;
  width: 250px;
  height: 50px;
  margin-right: 0px;
  margin-left: 71px;
  margin-bottom: 0;
  float: left;
  margin-top: -41px;
}
/* line 149, ../sass/visualisation.scss */
#visulisationdiv .nav {
  margin-top: -665px;
  margin-right: auto;
  margin-left: 0px;
  margin-bottom: auto;
  width: 500px;
}
/* line 156, ../sass/visualisation.scss */
#visulisationdiv .nav_m ul li {
  text-align: center;
  position: relative;
  margin-top: 0px;
  margin-right: auto;
  margin-left: 0px;
  margin-bottom: auto;
  padding: 0;
  list-sytle: none;
}
/* line 166, ../sass/visualisation.scss */
#visulisationdiv .nav_m ul li ul {
  display: none;
}
/* line 167, ../sass/visualisation.scss */
#visulisationdiv .nav_m ul li:hover ul {
  display: block;
  width: 110px;
  height: 47px;
  position: absolute;
  left: 60px;
  bottom: -40px;
}
