/*###################basic font and style########################*/
/* line 6, ../sass/mainstyle.scss */
h1 {
  font-family: Impact;
  font-weight: normal;
}

/* line 12, ../sass/mainstyle.scss */
h2 {
  font-family: "robot-boldIt";
}

/* line 16, ../sass/mainstyle.scss */
h3 {
  font-weight: normal;
  font-family: Verdana;
  font-size: 26px;
}

/* line 22, ../sass/mainstyle.scss */
h4 {
  font-family: "robot-thin";
}

/* line 26, ../sass/mainstyle.scss */
a {
  text-decoration: none;
  color: #000000;
  font-family: Verdana;
  font-size: 18px;
}
/* line 31, ../sass/mainstyle.scss */
a:hover {
  color: #c3060c;
}

/* line 36, ../sass/mainstyle.scss */
p {
  font-family: Verdana;
  font-size: 18px;
}

/*###################basic font and style########################*/
/*####################general layout#######################*/
/* line 48, ../sass/mainstyle.scss */
.headercontainer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 140px;
<<<<<<< HEAD
  background-color: black;
=======
  background-color: #c45559;
>>>>>>> 00d53799feadaecb539df12ab4be7cc3b79f63a1
  /*header color */
}

/* line 57, ../sass/mainstyle.scss */
.header {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  background-color: #c45559;
  z-index: 1000;
}

/* line 66, ../sass/mainstyle.scss */
.pagecontext {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #ffffff;
  padding: 40px;
}

/* line 76, ../sass/mainstyle.scss */
.pagecontextcontainer {
  position: fixed;
  top: 140px;
  width: 100%;
  height: 100%;
}

/* line 83, ../sass/mainstyle.scss */
.footer {
  margin: 0 auto;
  background-color: black;
}

/* line 88, ../sass/mainstyle.scss */
.loginpic {
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  width: 100px;
}

/* line 95, ../sass/mainstyle.scss */
#logocontainer {
  margin-top: 10px;
}

/* line 99, ../sass/mainstyle.scss */
#logo {
  margin: 20px;
  float: left;
}

/* line 104, ../sass/mainstyle.scss */
#logotext {
  float: left;
  text-align: center;
}

/* line 109, ../sass/mainstyle.scss */
#userstatus {
  float: right;
  margin-top: 30px;
  vertical-align: middle;
}

/* line 116, ../sass/mainstyle.scss */
.footercontainer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-color: #c45559;
  /*header color */
  z-index: 1000;
}

/* line 126, ../sass/mainstyle.scss */
.footer {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  text-align: right;
}

/* line 133, ../sass/mainstyle.scss */
#teamlogo {
  margin: 20px;
}

/*####################general layout#######################*/
/*###################main page house list########################*/
/* line 144, ../sass/mainstyle.scss */
#housesdiv {
  overflow: hidden;
  width: 100%;
  color: #000000;
  vertical-align: middle;
}

/* line 152, ../sass/mainstyle.scss */
#choosemonsdiv {
  height: 250px;
  overflow: hidden;
}

/* line 157, ../sass/mainstyle.scss */
.left {
  position: relative;
  top: 0;
  height: 750px;
}

/* line 163, ../sass/mainstyle.scss */
.none {
  height: 750px;
  position: relative;
  top: -250px;
}

/* line 169, ../sass/mainstyle.scss */
.right {
  height: 750px;
  position: relative;
  top: -500px;
}

/*###################main page house list########################*/
/*####################a monster's home#######################*/
/* line 185, ../sass/mainstyle.scss */
#adoptme {
  background-color: #c45559;
  border: 1px solid;
  border-color: #000000;
  border-radius: 10px;
  padding: 5px;
  width: 120px;
  text-align: center;
  position: relative;
  top: -40px;
  left: 180px;
}

/* line 198, ../sass/mainstyle.scss */
#monsterhome {
  bottom: 100px;
  position: absolute;
  margin-left: 50px;
  text-align: center;
  margin-bottom: 60px;
}

/* line 206, ../sass/mainstyle.scss */
#lefthomediv {
  width: 350px;
  padding-bottom: 100px;
  bottom: 100px;
  height: 100%;
  float: left;
  position: absolute;
}

/* line 216, ../sass/mainstyle.scss */
#bigmonster {
  position: fixed;
  left: 50%;
  bottom: 100px;
  width: 200px;
  height: 250px;
  margin: 0 0 20px 75px;
}

/* line 225, ../sass/mainstyle.scss */
.smallmonsterposition {
  position: fixed;
  left: 50%;
  bottom: 250px;
  width: 150px;
  height: 150px;
  margin: 0 0 20px 100px;
}

/* line 234, ../sass/mainstyle.scss */
#newbigmonsterform {
  position: relative;
  top: -600px;
  left: -250px;
}

/* line 240, ../sass/mainstyle.scss */
.bminputbox {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  outline: none;
}

/* line 248, ../sass/mainstyle.scss */
.black {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #000000;
  opacity: 0.8;
  z-index: 2000;
}

/* line 259, ../sass/mainstyle.scss */
#cardcontainer {
  position: fixed;
  /*background-color: $red;*/
  height: 500px;
  top: 20%;
  left: 35%;
  z-index: 3000;
  /*border: 10px solid;*/
  /*border-color: $black;*/
}

/* line 272, ../sass/mainstyle.scss */
.smbuttondiv {
  position: relative;
  height: 150px;
  top: 150px;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s,top 0.5s;
  cursor: default;
}
/* line 282, ../sass/mainstyle.scss */
.smbuttondiv:hover {
  position: relative;
  top: 115px;
  opacity: 1;
}

/* line 289, ../sass/mainstyle.scss */
.addnew {
  margin-top: 150px;
}

/* line 293, ../sass/mainstyle.scss */
.bmbuttondiv {
  position: relative;
  height: 250px;
  width: 130px;
  opacity: 0;
  z-index: 0;
  transition: left 0.5s,width 0.5s,opacity 0.5s;
  cursor: default;
  top: -250px;
  left: 20px;
}
/* line 304, ../sass/mainstyle.scss */
.bmbuttondiv:hover {
  position: relative;
  width: 210px;
  left: -17px;
  opacity: 1;
}

/* line 312, ../sass/mainstyle.scss */
.bgbuttons {
  position: relative;
  top: 170px;
}

/*####################a monster's home#######################*/
