.smallcard{
	position: absolute;
	left: 2px;
	top: 15px;
	background-image: url(/Documents/FloweryStone/img/Newadd/smallcard);
	background-repeat: no-repeat;
	background-position: 0px 0%;
}



.moneatpie{
	position: absolute;
	left: 48px;
	top: 40px;
}
.full{
	position: absolute;
	left: 245px;
	top: 65px;
}


.drop{
	position: absolute;
	left: 245px;
	top: 137px;
}
.timepie {
	top: 222px;
	left: 40px;
	position: absolute;
}
.timepiecover {
	z-index: 2;
	opacity: 1;
	top: 288px;
	left: 110px;
	position: absolute;
}
p {
	position: absolute;
	top: 371px;
	left: 72px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
}
.haveeaten   {
	position: absolute;
	top: 19px;
	left: 196px;
}


}
.pie-bian {
	position: absolute;
	top: 449px;
	left: 224px;
}

.haveeaten {
	position: absolute;
	top: 358px;
	left: 300px;
}


.p2 {
	position: absolute;
	top: 371px;
	left: 257px;

}

.pieeaten {
	position: absolute;
	top: 337px;
	left: 219px;
}
